In [26]:
import pandas as pd

weather_data = {
    'day':['1/1/2020','1/2/2020','1/3/2020','1/4/2020','1/5/2020','1/6/2020'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':['6','7','2','7','4','2'],
    'event':['rain','sunny','snow','snow','rain','sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature windspeed  event
0  1/1/2020           32         6   rain
1  1/2/2020           35         7  sunny
2  1/3/2020           28         2   snow
3  1/4/2020           24         7   snow
4  1/5/2020           32         4   rain
5  1/6/2020           31         2  sunny

In [27]:
df[2:5]

        day  temperature windspeed event
2  1/3/2020           28         2  snow
3  1/4/2020           24         7  snow
4  1/5/2020           32         4  rain

In [28]:
df.event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [29]:
df['event']

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [30]:
df.dtypes

day            object
temperature     int64
windspeed      object
event          object
dtype: object

In [39]:
df = df.astype({'windspeed':int})
df.dtypes

day            object
temperature     int64
windspeed       int32
event          object
dtype: object

In [31]:
df[['day', 'temperature','event']]

        day  temperature  event
0  1/1/2020           32   rain
1  1/2/2020           35  sunny
2  1/3/2020           28   snow
3  1/4/2020           24   snow
4  1/5/2020           32   rain
5  1/6/2020           31  sunny

In [32]:
df.describe()

       temperature
count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000

In [33]:
df[df.temperature>=32]

        day  temperature windspeed  event
0  1/1/2020           32         6   rain
1  1/2/2020           35         7  sunny
4  1/5/2020           32         4   rain

In [40]:
df.day[df.temperature==df.temperature.max()]

1    1/2/2020
Name: day, dtype: object

In [42]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2020           35

In [43]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [46]:
df = df.set_index('day')

In [48]:
df

          temperature  windspeed  event
day
1/1/2020           32          6   rain
1/2/2020           35          7  sunny
1/3/2020           28          2   snow
1/4/2020           24          7   snow
1/5/2020           32          4   rain
1/6/2020           31          2  sunny

In [49]:
df.loc['1/3/2020']

temperature      28
windspeed         2
event          snow
Name: 1/3/2020, dtype: object

In [50]:
df.reset_index(inplace=True)

In [51]:
df

        day  temperature  windspeed  event
0  1/1/2020           32          6   rain
1  1/2/2020           35          7  sunny
2  1/3/2020           28          2   snow
3  1/4/2020           24          7   snow
4  1/5/2020           32          4   rain
5  1/6/2020           31          2  sunny