In [2]:
import pandas as pd

df= pd.read_csv(r'D:\Franklin\Study Materials\Data-611\Jupyter\nyc_weather.csv')
df

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26110,LGA,2013,12,30,14,35.96,19.94,51.78,340.0,13.80936,21.86482,0.0,1017.1,10.0,2013-12-30T19:00:00Z
26111,LGA,2013,12,30,15,33.98,17.06,49.51,330.0,17.26170,21.86482,0.0,1018.8,10.0,2013-12-30T20:00:00Z
26112,LGA,2013,12,30,16,32.00,15.08,49.19,340.0,14.96014,23.01560,0.0,1019.5,10.0,2013-12-30T21:00:00Z
26113,LGA,2013,12,30,17,30.92,12.92,46.74,320.0,17.26170,NaN,0.0,1019.9,10.0,2013-12-30T22:00:00Z
26114,LGA,2013,12,30,18,28.94,10.94,46.41,330.0,18.41248,NaN,0.0,1020.9,10.0,2013-12-30T23:00:00Z

In [3]:
df['temp'].max()

100.04

In [4]:
df.temp.max()

100.04

In [5]:
df['time_hour'][df['origin']=='LGA']

17409    2013-01-01T06:00:00Z
17410    2013-01-01T07:00:00Z
17411    2013-01-01T08:00:00Z
17412    2013-01-01T09:00:00Z
17413    2013-01-01T10:00:00Z
                 ...
26110    2013-12-30T19:00:00Z
26111    2013-12-30T20:00:00Z
26112    2013-12-30T21:00:00Z
26113    2013-12-30T22:00:00Z
26114    2013-12-30T23:00:00Z
Name: time_hour, Length: 8706, dtype: object

In [7]:
df.time_hour[df.origin=='LGA']

17409    2013-01-01T06:00:00Z
17410    2013-01-01T07:00:00Z
17411    2013-01-01T08:00:00Z
17412    2013-01-01T09:00:00Z
17413    2013-01-01T10:00:00Z
                 ...
26110    2013-12-30T19:00:00Z
26111    2013-12-30T20:00:00Z
26112    2013-12-30T21:00:00Z
26113    2013-12-30T22:00:00Z
26114    2013-12-30T23:00:00Z
Name: time_hour, Length: 8706, dtype: object

In [11]:
df.isnull().sum()

origin            0
year              0
month             0
day               0
hour              0
temp              1
dewp              1
humid             1
wind_dir        460
wind_speed        4
wind_gust     20778
precip            0
pressure       2729
visib             0
time_hour         0
dtype: int64

In [12]:
df.wind_speed.fillna(0, inplace=True)

In [13]:
df.isnull().sum()

origin            0
year              0
month             0
day               0
hour              0
temp              1
dewp              1
humid             1
wind_dir        460
wind_speed        0
wind_gust     20778
precip            0
pressure       2729
visib             0
time_hour         0
dtype: int64

In [14]:
df['wind_speed'].mean()

10.515877434425876

In [15]:
df.wind_speed.mean()

10.515877434425876